.cache
.vscode
App/
Authenticator/
Python/
Server/

Qml/.cache
Qml/bin
Qml/build
Qml/CMakeFiles
Qml/sap
Qml/CMakeLists.txt.user
Qml/ffmpeg
Qml/ffmpeg.bak
Qml/lib

Desktop/.cache
Desktop/build
Desktop/CMakeFiles
Desktop/CMakeLists.txt-SAP
Desktop/CMakeLists.txt.user
Desktop/sap

Embedded/.cache
Embedded/build
Embedded/CMakeFiles
Embedded/debug.*
Embedded/testfile

Minimal/.cache
Minimal/build
Minimal/CMakeFiles
Minimal/sap